<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Search</ion-title>
  <ion-buttons end>
    <button (click)="openFilters()">
      <ion-icon name="funnel" [style.color]="usesFilter ? 'red': 'inherit'"></ion-icon>
    </button>
  </ion-buttons>

</ion-navbar>

<ion-content class="search">
  <!-- Note for Alpha-52
    There is a bug where $event is the name required to receive the refresher object
  -->
  <ion-refresher
  (refresh)="reloadData($event)"
  >
  </ion-refresher>
  <ion-searchbar [(ngModel)]="keyword" (cancel)="userPressedCancel()" (keyup.enter)="keyHasBeenPressed()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="#result of results">
      <ion-thumbnail item-left>
        <img [src]="result.artworkUrl100">
      </ion-thumbnail>
      <h2 [innerText]="result.trackName"></h2>
      <p>{{result.artistName}}<span *ngIf="result.kind==='song'"> - {{result.trackCount}} tracks</span></p>
      <ion-icon (click)="openPreview(result)" name="musical-notes" [hidden]="result.kind!=='song'" item-right></ion-icon>
      <ion-icon (click)="openPreview(result)" name="film" [hidden]="result.kind==='song'" item-right></ion-icon>
      <ion-icon name="person"
      (click)="goToArtist(result)"
      [hidden]="result.kind!=='song'"
      item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
